@keyframes transition {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.menu .entre .entr.entr, .menu .entre .plt.entr, .menu .entre .dsrt.entr, .menu .plats .entr.entr, .menu .plats .plt.entr, .menu .plats .dsrt.entr, .menu .dessert .entr.entr, .menu .dessert .plt.entr, .menu .dessert .dsrt.entr {
  animation: transition 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s both;
}
.menu .entre .entr.entr__1, .menu .entre .plt.entr__1, .menu .entre .dsrt.entr__1, .menu .plats .entr.entr__1, .menu .plats .plt.entr__1, .menu .plats .dsrt.entr__1, .menu .dessert .entr.entr__1, .menu .dessert .plt.entr__1, .menu .dessert .dsrt.entr__1 {
  animation-delay: 0s;
}
.menu .entre .entr.entr__2, .menu .entre .plt.entr__2, .menu .entre .dsrt.entr__2, .menu .plats .entr.entr__2, .menu .plats .plt.entr__2, .menu .plats .dsrt.entr__2, .menu .dessert .entr.entr__2, .menu .dessert .plt.entr__2, .menu .dessert .dsrt.entr__2 {
  animation-delay: 0.2s;
}
.menu .entre .entr.entr__3, .menu .entre .plt.entr__3, .menu .entre .dsrt.entr__3, .menu .plats .entr.entr__3, .menu .plats .plt.entr__3, .menu .plats .dsrt.entr__3, .menu .dessert .entr.entr__3, .menu .dessert .plt.entr__3, .menu .dessert .dsrt.entr__3 {
  animation-delay: 0.4s;
}
.menu .entre .entr.entr__4, .menu .entre .plt.entr__4, .menu .entre .dsrt.entr__4, .menu .plats .entr.entr__4, .menu .plats .plt.entr__4, .menu .plats .dsrt.entr__4, .menu .dessert .entr.entr__4, .menu .dessert .plt.entr__4, .menu .dessert .dsrt.entr__4 {
  animation-delay: 0.6s;
}
.menu .entre .entr.plt, .menu .entre .plt.plt, .menu .entre .dsrt.plt, .menu .plats .entr.plt, .menu .plats .plt.plt, .menu .plats .dsrt.plt, .menu .dessert .entr.plt, .menu .dessert .plt.plt, .menu .dessert .dsrt.plt {
  animation: transition 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s both;
  animation-delay: 0.6s;
}
.menu .entre .entr.plt__1, .menu .entre .plt.plt__1, .menu .entre .dsrt.plt__1, .menu .plats .entr.plt__1, .menu .plats .plt.plt__1, .menu .plats .dsrt.plt__1, .menu .dessert .entr.plt__1, .menu .dessert .plt.plt__1, .menu .dessert .dsrt.plt__1 {
  animation-delay: 0.8s;
}
.menu .entre .entr.plt__2, .menu .entre .plt.plt__2, .menu .entre .dsrt.plt__2, .menu .plats .entr.plt__2, .menu .plats .plt.plt__2, .menu .plats .dsrt.plt__2, .menu .dessert .entr.plt__2, .menu .dessert .plt.plt__2, .menu .dessert .dsrt.plt__2 {
  animation-delay: 1s;
}
.menu .entre .entr.plt__3, .menu .entre .plt.plt__3, .menu .entre .dsrt.plt__3, .menu .plats .entr.plt__3, .menu .plats .plt.plt__3, .menu .plats .dsrt.plt__3, .menu .dessert .entr.plt__3, .menu .dessert .plt.plt__3, .menu .dessert .dsrt.plt__3 {
  animation-delay: 1.2s;
}
.menu .entre .entr.dsrt, .menu .entre .plt.dsrt, .menu .entre .dsrt.dsrt, .menu .plats .entr.dsrt, .menu .plats .plt.dsrt, .menu .plats .dsrt.dsrt, .menu .dessert .entr.dsrt, .menu .dessert .plt.dsrt, .menu .dessert .dsrt.dsrt {
  animation: transition 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s both;
  animation-delay: 1s;
}
.menu .entre .entr.dsrt__1, .menu .entre .plt.dsrt__1, .menu .entre .dsrt.dsrt__1, .menu .plats .entr.dsrt__1, .menu .plats .plt.dsrt__1, .menu .plats .dsrt.dsrt__1, .menu .dessert .entr.dsrt__1, .menu .dessert .plt.dsrt__1, .menu .dessert .dsrt.dsrt__1 {
  animation-delay: 1.6s;
}
.menu .entre .entr.dsrt__2, .menu .entre .plt.dsrt__2, .menu .entre .dsrt.dsrt__2, .menu .plats .entr.dsrt__2, .menu .plats .plt.dsrt__2, .menu .plats .dsrt.dsrt__2, .menu .dessert .entr.dsrt__2, .menu .dessert .plt.dsrt__2, .menu .dessert .dsrt.dsrt__2 {
  animation-delay: 1.8s;
}
.menu .entre .entr.dsrt__3, .menu .entre .plt.dsrt__3, .menu .entre .dsrt.dsrt__3, .menu .plats .entr.dsrt__3, .menu .plats .plt.dsrt__3, .menu .plats .dsrt.dsrt__3, .menu .dessert .entr.dsrt__3, .menu .dessert .plt.dsrt__3, .menu .dessert .dsrt.dsrt__3 {
  animation-delay: 2s;
}
.menu .entre .entr:hover > .fa-check-circle, .menu .entre .plt:hover > .fa-check-circle, .menu .entre .dsrt:hover > .fa-check-circle, .menu .plats .entr:hover > .fa-check-circle, .menu .plats .plt:hover > .fa-check-circle, .menu .plats .dsrt:hover > .fa-check-circle, .menu .dessert .entr:hover > .fa-check-circle, .menu .dessert .plt:hover > .fa-check-circle, .menu .dessert .dsrt:hover > .fa-check-circle {
  transform-origin: right 50%;
  transition: transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: scalex(1);
}
.menu .entre .entr:hover > .fa-check-circle::before, .menu .entre .plt:hover > .fa-check-circle::before, .menu .entre .dsrt:hover > .fa-check-circle::before, .menu .plats .entr:hover > .fa-check-circle::before, .menu .plats .plt:hover > .fa-check-circle::before, .menu .plats .dsrt:hover > .fa-check-circle::before, .menu .dessert .entr:hover > .fa-check-circle::before, .menu .dessert .plt:hover > .fa-check-circle::before, .menu .dessert .dsrt:hover > .fa-check-circle::before {
  display: block;
  animation: rotation 0.5s ease-in-out;
}
.menu .entre .entr:hover.entr, .menu .entre .entr:hover.plt, .menu .entre .entr:hover.dsrt, .menu .entre .plt:hover.entr, .menu .entre .plt:hover.plt, .menu .entre .plt:hover.dsrt, .menu .entre .dsrt:hover.entr, .menu .entre .dsrt:hover.plt, .menu .entre .dsrt:hover.dsrt, .menu .plats .entr:hover.entr, .menu .plats .entr:hover.plt, .menu .plats .entr:hover.dsrt, .menu .plats .plt:hover.entr, .menu .plats .plt:hover.plt, .menu .plats .plt:hover.dsrt, .menu .plats .dsrt:hover.entr, .menu .plats .dsrt:hover.plt, .menu .plats .dsrt:hover.dsrt, .menu .dessert .entr:hover.entr, .menu .dessert .entr:hover.plt, .menu .dessert .entr:hover.dsrt, .menu .dessert .plt:hover.entr, .menu .dessert .plt:hover.plt, .menu .dessert .plt:hover.dsrt, .menu .dessert .dsrt:hover.entr, .menu .dessert .dsrt:hover.plt, .menu .dessert .dsrt:hover.dsrt {
  padding-right: 62px;
  transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* acceuil */
.acceuil {
  width: 100%;
  text-align: center;
  background-color: #f1f1f1;
}
.acceuil .localisation {
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #b8b8b8;
  cursor: pointer;
}
.acceuil .localisation p {
  font-size: 1.2em;
}
.acceuil .localisation .fa-map-marker-alt {
  height: 100%;
  font-size: 1.3em;
  padding-right: 30px;
}
.acceuil .description {
  font-size: 1.5em;
}
.acceuil .description br {
  display: none;
}
.acceuil .buttons {
  padding-top: 30px;
  padding-bottom: 90px;
  padding-left: 0;
  padding-right: 0;
  width: 250px;
  margin: auto;
  transition: 0.3s;
}
.acceuil .buttons .button {
  height: 30px;
  position: relative;
  padding-right: 22px;
  padding-left: 22px;
  padding: 20px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 1px 10px 0px;
  cursor: pointer;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: #FFF;
  font-size: 1.2em;
}
.acceuil .buttons:hover {
  transform: scale(1.06);
}
.acceuil .buttons:active {
  transition: 0s;
  transform: scale(1);
}

@media screen and (max-width: 680px) {
  /* acceuil */
  .acceuil .localisation p {
    font-size: 15px;
  }
  .acceuil .localisation .fa-map-marker-alt {
    height: 16px;
    padding-right: 17px;
  }
  .acceuil .description {
    margin-top: 43px;
  }
  .acceuil .description h1 {
    font-size: 23px;
  }
  .acceuil .description p {
    font-size: 18px;
  }
  .acceuil .description br {
    display: table;
  }
  .acceuil .buttons {
    width: 218px;
  }
  .acceuil .buttons .button {
    font-size: 16px;
    margin-bottom: 57px;
  }
}
/* logo */
.header {
  width: 100%;
  display: flex;
  background-color: #FFF;
}
.header img {
  height: auto;
  padding-top: 25px;
  padding-bottom: 20px;
  margin: auto;
}
.header .fleche {
  text-align: left;
  height: 100%;
  font-size: 2.8em;
  display: flex;
  align-items: center;
  margin-left: 23px;
  transition: all 0.1s;
}
.header .fleche:hover {
  transform: scale(1.1);
}
.header .fleche:active {
  transition: 0s;
  transform: scale(1);
}

@media screen and (max-width: 680px) {
  .header {
    height: 63px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .header img {
    height: 28px;
    width: auto;
    align-items: center;
    padding-bottom: 0;
    padding-top: 0;
  }
  .header .fleche {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
  }
}
/* fonctionnement */
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #FFF;
  padding-left: 15px;
}
.nav h2 {
  width: 100%;
}
.nav .fonct {
  display: flex;
  position: relative;
  justify-content: flex-start;
}
.nav .fonct .num {
  position: absolute;
  left: 20px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #9356DC;
  font-size: 15px;
  height: 30px;
  width: 30px;
  color: #FFF;
  z-index: 2;
}
.nav .fonct-1 {
  width: 322px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 0 1px 10px 0;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 40px;
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
  font-size: 1.2em;
  background-color: whitesmoke;
  z-index: 1;
  transition: all 0.3s;
}
.nav .fonct-1:hover {
  transform: scale(1.06);
}
.nav .fonct-1:hover::after {
  opacity: 1;
}
.nav .fonct-1:active {
  transform: scale(1);
  transition: 0s;
}
.nav .fonct-1::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #9256dc50;
  opacity: 0;
  transition: opacity 250ms;
  border-radius: 25px;
}
.nav .fonct-1 a {
  display: flex;
  align-items: center;
  margin: auto;
}
.nav .fonct-1 a i {
  padding-right: 80px;
  font-size: 1.2em;
  color: gray;
}

@media screen and (max-width: 680px) {
  .nav {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav h2 {
    font-size: 19px;
    margin-bottom: 31px;
  }
  .nav .fonct {
    position: relative;
    width: 100%;
  }
  .nav .fonct .num {
    position: absolute;
    left: 5px;
    top: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #9356DC;
    font-size: 11px;
    height: 25px;
    width: 24px;
    color: #FFF;
  }
  .nav .fonct-1 {
    height: 73px;
    padding-left: 6%;
    padding-right: 10%;
    margin-right: 20px;
    margin-left: 17px;
    width: 70%;
  }
  .nav .fonct-1 a p {
    font-size: 16px;
    margin: 0;
  }
  .nav .fonct-1 a .ico {
    color: gray;
    font-size: 21px;
    margin-right: 27px;
    padding-right: 0;
  }
}
/* restorants */
.sct-1 {
  background-color: #f0f0f0;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sct-1 h1 {
  width: 100%;
  padding-left: 15px;
  padding-bottom: 5px;
}
.sct-1 .resto-1 {
  box-shadow: 0 1px 10px 0;
  border-radius: 30px;
  overflow: hidden;
  padding-bottom: 0;
  margin-left: 20px;
  margin-right: 0;
  margin-bottom: 18px;
  width: 500px;
  height: 280px;
  position: relative;
  transition: all 0.3s;
}
.sct-1 .resto-1:hover {
  transform: scale(1.06);
}
.sct-1 .resto-1:hover .img-1 {
  animation-delay: 0.5s;
  transition: 0.3s;
  transform: scale(1.06);
}
.sct-1 .resto-1:active {
  transition: 0s;
  transform: scale(1);
}
.sct-1 .resto-1 .img-1 {
  height: 174px;
}
.sct-1 .resto-1 .nouveau-1, .sct-1 .resto-1 .nouveau-2 {
  margin: 0;
  position: absolute;
  top: 13px;
  right: 11px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: darkgreen;
  height: 29px;
  width: 81px;
}
.sct-1 .resto-1 .txt-1 {
  height: auto;
  padding-left: 10px;
}
.sct-1 .resto-1 .txt-1 .txt {
  display: flex;
  height: 20px;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
}
.sct-1 .resto-1 .txt-1 h2 {
  margin-top: 15px;
}
.sct-1 .resto-1 .txt-1 .fa-heart {
  font-size: 2.2em;
  padding-bottom: 50px;
}

@media screen and (max-width: 680px) {
  .sct-1 {
    padding: 0;
    padding-bottom: 34px;
  }
  .sct-1 h1 {
    margin-top: 58px;
    margin-bottom: 27px;
    font-size: 18px;
    padding-left: 21px;
    padding-bottom: 0;
  }
  .sct-1 .resto-1 {
    width: 89.5%;
    padding-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 18px;
    height: 251px;
    position: relative;
  }
  .sct-1 .resto-1 .img-1 {
    height: 174px;
  }
  .sct-1 .resto-1 .nouveau-1, .sct-1 .resto-1 .nouveau-2 {
    margin: 0;
    position: absolute;
    top: 13px;
    right: 11px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    color: darkgreen;
    height: 29px;
    width: 81px;
  }
  .sct-1 .resto-1 .txt-1 {
    padding-left: 0;
    height: 77px;
  }
  .sct-1 .resto-1 .txt-1 h2 {
    font-size: 18px;
    margin-bottom: 7px;
    padding-left: 14px;
  }
  .sct-1 .resto-1 .txt-1 .txt {
    padding-bottom: 20px;
  }
  .sct-1 .resto-1 .txt-1 .txt p {
    padding-left: 14px;
    font-size: 13px;
    margin-top: 7px;
  }
  .sct-1 .resto-1 .txt-1 .txt i {
    height: 21px;
    right: 24px;
    bottom: 33px;
  }
}
/* footer page d'acceuil*/
.footer {
  background-color: #353535;
  padding-bottom: 38px;
  padding-top: 26px;
}
.footer img {
  padding-left: 26px;
  filter: invert(100%);
  margin-bottom: 23px;
  display: flex;
  justify-content: flex-start;
  height: 25px;
}
.footer .menu-footer a {
  padding-left: 26px;
  display: flex;
  align-items: flex-end;
}
.footer .menu-footer a i {
  display: flex;
  align-items: center;
  font-size: 13px;
  height: 20px;
  margin-right: 11px;
}
.footer .menu-footer a.__mint {
  padding-left: 26px;
}
.footer p, .footer i {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 16px;
  color: white;
}
.footer p:hover, .footer i:hover {
  transform: scale(1.06);
}
.footer p:active, .footer i:active {
  transition: 0s;
  transform: scale(1);
}

.footer-1 {
  margin-top: -30px;
  width: 100%;
}

.footer-email {
  margin-top: 100px;
}

@media screen and (max-width: 680px) {
  .footer-1 {
    margin-top: -60px;
  }

  .footer-email {
    margin-top: 100px;
  }
}
/* Formulaire */
.formulaire {
  margin-left: 30px;
  margin-right: 30px;
}
.formulaire h1 {
  text-align: center;
  font-size: 3em;
  font-family: Shrikhand;
  margin: 50px 10px 10px 10px;
}

form {
  margin: auto;
  width: 70%;
  box-shadow: 0 1px 10px 0;
  background-color: #585858;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 32px;
  padding-bottom: 50px;
}
form p {
  font-family: Shrikhand;
  font-size: 1.5em;
}
form input {
  width: 50%;
  height: 25px;
  border-radius: 15px;
  border: none;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}
form .nom {
  border: none;
  width: 50%;
  display: flex;
  flex-direction: column;
}
form .mail {
  padding-top: 50px;
}
form .mail input {
  margin-top: -5px;
}
form .msg {
  padding-top: 50px;
  padding-bottom: 10px;
}
form .msg textarea {
  border-radius: 10px;
  border: none;
  padding-top: 5px;
  width: 100%;
}
form button {
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  margin-top: 5px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: all 0.3s;
}
form button:hover {
  transform: scale(1.06);
}
form button:active {
  transition: 0s;
  transform: scale(1);
}

@media screen and (max-width: 680px) {
  form .nom input {
    width: 100%;
  }
  form .mail input {
    width: 70%;
  }
  form button {
    margin: auto;
  }
}
/* Menus */
.img-1 {
  position: relative;
  width: 100%;
  height: 460px;
}

.menu {
  position: relative;
  top: -30px;
  width: 100%;
  margin-bottom: 0px;
  background-color: whitesmoke;
  border-radius: 38px 38px 0 0;
}
.menu .menu-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .menu-1 h1 {
  font-family: Shrikhand;
  font-size: 2em;
  padding-left: 20px;
  margin-top: 34px;
  height: 100%;
}
.menu .fa-heart {
  cursor: pointer;
  font-size: 2.2em;
  padding-right: 38px;
}
.menu .entre, .menu .plats, .menu .dessert {
  margin-bottom: 35px;
}
.menu .entre .titr-1, .menu .plats .titr-1, .menu .dessert .titr-1 {
  margin-top: 0;
  margin-left: 20px;
  color: #666666;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 9px;
  width: 60px;
  font-size: 1.45em;
}
.menu .entre .entr, .menu .entre .plt, .menu .entre .dsrt, .menu .plats .entr, .menu .plats .plt, .menu .plats .dsrt, .menu .dessert .entr, .menu .dessert .plt, .menu .dessert .dsrt {
  position: relative;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0 1px 10px 0;
  padding-left: 10px;
  margin-right: 12px;
  margin-left: 14px;
  cursor: pointer;
}
.menu .entre .entr .fa-check-circle, .menu .entre .plt .fa-check-circle, .menu .entre .dsrt .fa-check-circle, .menu .plats .entr .fa-check-circle, .menu .plats .plt .fa-check-circle, .menu .plats .dsrt .fa-check-circle, .menu .dessert .entr .fa-check-circle, .menu .dessert .plt .fa-check-circle, .menu .dessert .dsrt .fa-check-circle {
  color: #FFF;
  font-size: 1.5em;
  position: absolute;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  padding-top: 27px;
  padding-bottom: 26px;
  padding-left: 19px;
  padding-right: 20px;
  top: 0;
  right: 0;
  transform: scalex(0);
}
.menu .entre .entr h3, .menu .entre .plt h3, .menu .entre .dsrt h3, .menu .plats .entr h3, .menu .plats .plt h3, .menu .plats .dsrt h3, .menu .dessert .entr h3, .menu .dessert .plt h3, .menu .dessert .dsrt h3 {
  padding-top: 16px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu .entre .entr p, .menu .entre .plt p, .menu .entre .dsrt p, .menu .plats .entr p, .menu .plats .plt p, .menu .plats .dsrt p, .menu .dessert .entr p, .menu .dessert .plt p, .menu .dessert .dsrt p {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  padding-bottom: 13px;
  margin-bottom: 0;
}
.menu .entre .entr .ellipsis, .menu .entre .plt .ellipsis, .menu .entre .dsrt .ellipsis, .menu .plats .entr .ellipsis, .menu .plats .plt .ellipsis, .menu .plats .dsrt .ellipsis, .menu .dessert .entr .ellipsis, .menu .dessert .plt .ellipsis, .menu .dessert .dsrt .ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
}
.menu .boutton {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu button {
  height: 60px;
  width: 270px;
  margin-bottom: 83px;
  margin-top: 15px;
  border-radius: 30px;
  box-shadow: 0 1px 10px 0;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: #FFF;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.menu button:hover {
  transform: scale(1.06);
}
.menu button:active {
  transition: 0s;
  transform: scale(1);
}

@media screen and (max-width: 680px) {
  .img-1 {
    height: 280px;
  }

  .menu {
    top: -60px;
  }
  .menu .menu-1 h1 {
    width: 90%;
  }
  .menu .menu-1 .fa-heart {
    width: 10%;
    height: 100%;
  }
  .menu .entre .titr-1, .menu .plats .titr-1, .menu .dessert .titr-1 {
    font-size: 15px;
    width: 40px;
    padding-bottom: 8px;
  }
  .menu .entre .entr h3, .menu .entre .plt h3, .menu .entre .dsrt h3, .menu .plats .entr h3, .menu .plats .plt h3, .menu .plats .dsrt h3, .menu .dessert .entr h3, .menu .dessert .plt h3, .menu .dessert .dsrt h3 {
    font-size: 18px;
  }
  .menu .entre .entr .fa-check-circle, .menu .entre .plt .fa-check-circle, .menu .entre .dsrt .fa-check-circle, .menu .plats .entr .fa-check-circle, .menu .plats .plt .fa-check-circle, .menu .plats .dsrt .fa-check-circle, .menu .dessert .entr .fa-check-circle, .menu .dessert .plt .fa-check-circle, .menu .dessert .dsrt .fa-check-circle {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 27px;
  }
}
body {
  background-color: #d8d8d8;
  font-family: Roboto;
  width: 100%;
  margin: auto;
}

.fa-heart {
  transition: all 0.3s;
}
.fa-heart:hover {
  font-weight: bolder;
  transform: scale(1.1);
  background: linear-gradient(45deg, #FF79DA, #9356DC);
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.fa-heart:active {
  transform: scale(0.98);
  transition: 0s;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

/*# sourceMappingURL=site.css.map */
