$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiaire: #99E2D0;

body {
    background-color: rgb(216, 216, 216);
    font-family: Roboto;
    width: 100%;
    margin: auto;
    position: relative;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}

/* logo */
.header{
    width: 100%;
    display: flex;
    background-color: #FFF;
    img {
        height: auto;
        padding-top: 25px;
        padding-bottom: 20px;
        margin: auto;
        
    }
    .fleche {
        text-align: left;
        height: 100%;
        font-size: 1.8em;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
}

/* acceuil */
.acceuil {
    width: 100%;
    text-align: center;
    background-color: rgb(241, 241, 241);
    .localisation {
        background-color: gainsboro;
        display: flex;
        justify-content: center;  
        align-items: center;
        border-top: 2px solid rgb(184, 184, 184);
        cursor: pointer;
        p {
            font-size: 1.2em;
        } 
        .fa-map-marker-alt {
            height: 100%;
            font-size: 1.3em;
            padding-right: 30px;
        }
    }
    .description{
        font-size: 1.5em;
        margin-top: 50px;
        br {
            display: none;
        }
    } 
    button {
        height: 60px;
        margin-top: 30px;
        margin-bottom: 70px;
        border-radius: 30px;
        box-shadow: 0px 1px 10px 0px;
        border: none;
        cursor: pointer;
        background-image: linear-gradient($color-secondary, $color-primary);
        color: #FFF;
        font-size: 1.2em;
    }
}
/* fonctionnement */
.nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: #FFF;
    h1 {
        width: 100%;
        padding-left: 15px;
    }
    
    .fonct-1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        box-shadow: 0 1px 10px 0;
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 40px;
        padding-left: 9%;
        height: 80px;
        font-size: 1.3em;
        background-color: rgb(245, 245, 245);
        &:hover{
            background-color: #9256dc50;
        }
        & a{
            display: flex;
            align-items: center;
            margin: auto;
            i {
                padding-right: 80px;
                font-size: 1.2em;
                color: gray;
            }     
        }  
    }
    
    .fonct{
        display: flex;
        position: relative;
        justify-content: center;
        .n° {
            position: absolute;
            left: 20px;
            top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px; 
            background-color: $color-primary;
            font-size: 15px;
            height: 30px;
            width: 30px;
            color: #FFF;
        }
    }
}

/* restorants */
.sct-1 {
    background-color: rgb(240, 240, 240);
    padding-top: 25px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    h1 {
        width: 100%;
        padding-left: 30px;
        padding-bottom: 5px;
    }
    // restos
    .resto-1 {
        margin-right: 7%;
        width: 470px;
        box-shadow: 0 1px 10px 0;
        border-radius: 30px;
        overflow: hidden;
        padding-bottom: 20px;
        margin-bottom: 30px;
        background-color: #FFF;
        position: relative;
        .img-1 {
            width: 100%;
            height: 300px;  
        }
        .nouveau-1, .nouveau-2 {
                margin: 0;
                position: absolute;
                top: 13px;
                right: 11px;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color-tertiaire;
                color: rgb(0, 100, 0);
                height: 29px;
                width: 81px;
            }
        .txt-1 {
            height: auto;
            padding-left: 10px;
            .txt {
                display: flex;
                height: 20px;
                justify-content: space-between;
                padding-right: 20px;
                align-items: center;
            }
            h2 {
                margin-top: 15px;
            }
            .fa-heart {
                font-size: 2.2em;
                padding-bottom: 50px;
            }
        }           
        // .nouveau-1, .nouveau-2{
        //     border: 1px solid $color-tertiaire;
        //     background-color: $color-tertiaire;
        //     overflow: hidden;
        //     color: rgb(0, 71, 0);
        //     border-radius: 3px;
        //     height: 30px;
        //     width: 110px;
        //     font-size: 1.2em;
        //     text-align: center;
        //     padding-top: 6px;
        //     margin-left: 410px;
        //     margin-top: -290px;
        //     margin-bottom: 270px;
        // }
    }
}

/* footer page d'acceuil*/
.footer {
    background-color:rgb(53, 53, 53);
    padding-bottom: 38px;
    padding-top: 26px;
    padding-left: 26px;
    img {   
        filter: invert(100%);
        margin-bottom: 23px;
        display: flex;
        justify-content: flex-start;       
        height: 25px;
        padding-left: 30px;
    }   
    .menu-footer a{ 
        display: flex;
        align-items: flex-end;
        i {
            display: flex;
            align-items: center;
            font-size: 13px;
            height: 20px;
            margin-right: 11px;           
        }
    }            
    
    p, i {   
        margin-bottom: 0;  
        margin-top: 10px;      
        font-size: 16px;
        color: white;
    } 

}

/* Menus */
.img-1 {
    width: 100%;
    height: 20%;
}

.menu {
    position: absolute;
    width: 100%;
    top: 400px;
    background-color: rgb(245, 245, 245);
    border-radius: 38px 38px 0 0;
    .menu-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-family: Shrikhand;
            font-size: 2em;
            padding-left: 20px;
            margin-top: 34px;
        }
    }
    .fa-heart {
        cursor: pointer;
        font-size: 2.2em;
        padding-right: 38px;
    }
    .entré, .plats, .dessert {
        margin-bottom: 35px;
        .titr-1 {
            margin-top: 0px;
            margin-left: 20px;
            color: rgb(102, 102, 102);
            border-bottom: 3px solid $color-tertiaire;
            padding-bottom: 9px;
            width: 60px;
            font-size: 1.45em;
        }
        .entr-1, .plt-1, .dsrt-1 {
            position: relative;
            background-color: #FFF;
            border-radius: 20px;
            box-shadow: 0 1px 10px 0;
            padding-left: 10px;
            margin-right: 12px;
            margin-left: 14px;
            cursor: pointer;    
            &:hover {
                & > .fa-check-circle {
                    transform-origin: right 50%;
                    transition: transform 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
                    transform: scalex(1);  
                }
                &.entr-1, &.plt-1, &.dsrt-1 {
                    padding-right: 62px;
                    transition: 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000);
                }                    
            } 
            
            // animation
            .fa-check-circle {
                color: #FFF;
                font-size: 1.5em;
                position: absolute;
                background-color: $color-tertiaire;
                border-radius: 0 20px 20px 0;
                padding-top: 28px;
                padding-bottom: 26px;
                padding-left: 19px;
                padding-right: 20px;
                top: 0;
                right: 0;
                transform: scalex(0); 
            }
            h3 {
                padding-top: 16px;
                margin-bottom: 0;
            }
            p {
                margin-top: 8px;
                display: flex;
                justify-content: space-between;
                padding-right: 25px;
                padding-bottom: 13px;
                margin-bottom: 0;
            }          
        } 
        
    }
    .boutton {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    button {
        border: px solid black;
        height: 60px;
        width: 270px;
        margin-bottom: 83px;
        margin-top: 15px;
        border-radius: 30px;
        box-shadow: 0 1px 10px 0;
        border: none;
        cursor: pointer;
        background-image: linear-gradient($color-secondary, $color-primary);
        color: #FFF;
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// footer menus
.footer-1 {
    position: absolute;
    width: 100%;
    top: 1774px; 
    &.--mint {
        top: 1871px
    }  
}

/* Formulaire */
.formulaire {
    h1 {
        text-align: center;
        font-size: 3em;
        font-family: Shrikhand;
        margin: 50px 10px 10px 10px;
    }
}
form {
    box-shadow: 0 1px 10px 0;
    background-color: rgb(148, 148, 148);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 50px;
    p {
        font-family: Shrikhand;
        font-size: 1.5em;
        
    }
    input {
        width: 50%;
        height: 25px;
        border-radius: 15px; 
        border: none;
        padding-left: 5px;
        margin-top: 5px;
        margin-bottom: 10px; 
    }
    
    // nom
    .nom { 
        border: none;
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    
    // adresse mail
    .mail {
        padding-top: 50px;
        input {
            margin-top: -5px;
        }
    }

    // message
    .msg {
        padding-top: 50px;
        padding-bottom: 10px;
        textarea {       
            border-radius: 10px;
            border: none;
            padding-left: 5px;
            padding-top: 5px;
        }
    }

    button{
        border: none;
        width: 100px;
        height: 30px;
        border-radius: 20px;
        margin-top: 5px;
        background-image: linear-gradient($color-secondary, $color-primary);
    }
}

// footer email
.footer-email {
    top: 1150px;
}









@media screen and (max-width: 680px){
    // logo
    .header {
       height: 63px;
       display: flex;
       align-items: center;
       img {
            height: 29px;
            align-items: center;
       }
       .fleche {
            height: 16px;
            justify-content: flex-start;
            align-items: center;
       }
    }

    /* acceuil */
    .acceuil { 
        .localisation {
            p {
                font-size: 15px;
            } 
            .fa-map-marker-alt {
                height: 16px;
                padding-right: 17px;
            }
        }
        .description{
            margin-top: 43px;
            h1 {
                font-size: 23px;
            }
            p {
                font-size: 18px;
            }
            br {
                display: table;
            }
        } 
        button {
            padding-right: 22px;
            padding-left: 22px;
            font-size: 16px;
            margin-bottom: 57px;
        }
    }

    .nav {
        h1 {
            font-size: 18px;
            margin-bottom: 31px;
        }
        .fonct {
            position: relative;
            .n° {
                position: absolute;
                left: 20px;
                top: 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px; 
                background-color: $color-primary;
                font-size: 11px;
                height: 25px;
                width: 24px;
                color: #FFF;
            }
        }
        .fonct-1 {
            height: 73px;
            padding-left: 33px;
            padding-right: 72px;
            margin-right: 20px;
            margin-left: 32px;
            
            a {
                p {
                    font-size: 13px;
                    margin: 0;
                }
                .ico {
                    color: gray;
                    font-size: 21px;
                    margin-right: 27px;
                    padding-right: 0;
                }
            }
        }
    }
    
    
    // restorants
    .sct-1 {
        padding: 0;
        padding-bottom: 34px;
        h1 {
            margin-top: 58px;
            margin-bottom: 27px;
            font-size: 18px;
            padding-left: 21px;
            padding-bottom: 0;
        }
        
        // restos 
        
        .resto-1 {
            width: 89.4%;
            padding-bottom: 0;
            height: 251px;
            position: relative;
            .img-1 {
                height: 174px;
            }
            .nouveau-1, .nouveau-2 {
                margin: 0;
                position: absolute;
                top: 13px;
                right: 11px;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color-tertiaire;
                color: rgb(0, 100, 0);
                height: 29px;
                width: 81px;
            }
            .txt-1 {
                padding-left: 0;
                height: 77px;
                h2 {
                    font-size: 18px;
                    margin-bottom: 7px;
                    padding-left: 14px;
                }
                .txt {
                    padding-bottom: 20px;
                    p {
                        padding-left: 14px;
                        font-size: 13px;
                        margin-top: 7px;
                    }
                    i {
                        height: 21px;
                        right: 24px;
                        bottom: 33px;
                    }
                }
            }
        }
    }  

    // menus
    .menu {
        position: absolute;
        top: 283px;
        .menu-1 {
            h1 {
                height: 33px;
            }
            .fa-heart {
                height: 21px;    
            }
        }
        .entré, .plats, .dessert {
            .titr-1 {
                font-size: 12px;
                width: 40px;
                padding-bottom: 8px;
            }
            .entr-1, .plt-1, .dsrt-1 {
                h3 {
                height: 18px; 
                }
                .fa-check-circle {
                    font-size: 20px;
                    padding-top: 28px;
                    padding-bottom: 26px;
                }
            }
        }
    } 
    // footer menus
    .footer-1 {
        position: absolute;
        width: 100%;
        top: 1549px; 
        &.--mint {
            top: 1642px
        }  
    }
    
    
    
    
}
