$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiaire: #99E2D0;



body {
    font-family: Roboto;
    width: 600px;
    margin: auto;
    border: 1px solid black;
    
}

a {
    text-decoration: none;
    color: black;
}


/* header */
.header{
    width: 100%;
    display: flex;
    &.logo {
            margin: auto;
        }
    &.fleche {
        text-align: left;
        border: 1px solid black;
        height: auto;
        font-size: 1.8em;
    }
}


/* acceuil */
.acceuil {
    text-align: center;
    background-color: rgb(241, 241, 241);
    .localisation {
        background-color: gainsboro;
        display: flex;
        justify-content: center;  
        align-items: center;
        p {
            font-size: 1.2em;
        } 
        .fa-map-marker-alt {
            height: 100%;
            font-size: 1.3em;
        }
    }
    .description{
        font-size: 1.5em;
        margin-top: 50px;
    } 
    & button {
        height: 60px;
        width: 270px;
        margin-bottom: 70px;
        margin-top: 30px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        background-image: linear-gradient($color-secondary, $color-primary);
        color: #FFF;
        font-size: 1.2em;
    }
}


/* nav */
.nav {
    text-align: left;
    padding-left: 10px;
    margin-bottom: 60px;
    .fonct-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 20px;
        margin-bottom: 10px;
        margin-left: 40px;
        align-items: center;
        height: 60px;
        width: 500px;
        background-color: rgb(245, 245, 245);
        &:hover{
            background-color: $color-primary;
        }

        & a {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
}

/* Menus */
.img-1 {
    width: 600px;
    height: auto;
}

.menu {
    background-color: gainsboro;
    border-radius: 70px 70px 0 0;
    padding-left: 10px;
    padding-top: 30px;
    .menu-1 {
        display: flex;
    }
        .entr-1, .plt-1, .dsrt-1 {
            background-color: #FFF;
            border-radius: 20px;
            width: 94%;
            margin-left: 10px;
            padding-left: 10px;
            padding: -0.1px 0 -0.1px 10px;
        } 
    & button {
        height: 60px;
        width: 270px;
        margin-bottom: 70px;
        margin-top: 30px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        background-image: linear-gradient($color-secondary, $color-primary);
        color: #FFF;
        font-size: 1.2em;
    }
}



    
/* section */
.sct-1 {
    background-color: rgb(240, 240, 240);
    padding-top: 30px;
    padding-left: 10px;
    .resto-1 {
        margin: auto;
        width: 88%;
        border-radius: 30px;
        overflow: hidden;
        padding-bottom: 20px;
        margin-bottom: 20px;
        background-color: #FFF;
        .img-1 {
            width: 100%;
            height: 350px;
            image-rendering: pixelated;
        }
        .txt-1 {
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            padding-bottom: -10px;
            .fa-heart {
                display: flex;
                font-size: 2.2em;
            }
        }
            
        .nouveau-1, .nouveau-2{
            position: absolute;
            border: 1px solid $color-tertiaire;
            background-color: $color-tertiaire;
            color: green;
            height: 30px;
            width: 90px;
            text-align: center;
            padding-top: 9px;
            left: 610px;
        }
        .nouveau-1 {
            top: 880px;
        }
        .nouveau-2 {
            top: 1400px;
        }
    }
}
    

    

    

        
    

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    background-color:rgb(53, 53, 53);
    &.logo-2 {
        filter: invert(1);  
    }
    & p, .fa-utensils, .fa-hands-helping{
            color: white;
        }
}