body {
    font-family: Roboto;
    width: 600px;
    margin: auto;
    
}

a {
    text-decoration: none;
    color: black;
}


/* header */
.header{
    width: 100%;
    display: flex;

}

    .logo {
        position: center;
        margin: auto;
    }

    .fleche {
        text-align: left;
        border: 1px solid black;
        height: auto;
        font-size: 1.8em;
    }

/* acceuil */
.acceuil {
    text-align: center;
    
}

    .localisation {
        justify-content: center;
        display: flex;
        align-items: center;
    }

        .localisation p {
            font-size: 1.2em;
        }

        .fa-map-marker-alt {
            height: 100%;
            font-size: 1.3em;
        }

    .acceuil button {
        height: 50px;
        width: 200px;
        margin-bottom: 10px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
    }

/* nav */
.nav {
    text-align: left;
    padding-left: 10px;
}

    .fonct-1 {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 20px;
        margin-bottom: 10px;
        margin-left: 40px;
        align-items: center;
        height: 60px;
        width: 500px;
    }

        .fonct-1 a {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

/* section */

    .resto-1 {
        margin: auto;
        width: 90%;
        height: 20%;
        border: 1px solid black;
        border-radius: 50px;
        overflow: hidden;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .img-1 {
        width: 100%;
        height: auto;
    }

        .nouveau-1, .nouveau-2{
            position: absolute;
            border: 1px solid mediumaquamarine;
            background-color: mediumaquamarine;
            color: green;
            height: 30px;
            width: 90px;
            text-align: center;
            padding-top: 9px;
            left: 540px;
        }

        .nouveau-1 {
            top: 685px;
        }

        .nouveau-2 {
            top: 1215px;
        }

        .txt-1 {
            margin-left: 10px;
        }

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    background-color:rgb(53, 53, 53);
}

        .footer p {
            color: white;
        }
        .footer .fa-utensils {
            color: white;
        }
        .footer .fa-hands-helping {
            color: white;
        }

